.p1{

  // 公共样式
  h1{
    position: absolute;
    top: 50px;
    left: 50px;
    width: 100%;
    transition: all 0.8s;
    color: #999;
  }

  .spaceNum0{
    h1{
      left: calc(50% - 200px);
      top: calc(50% - 50px);
      font-size: 100px;
      color: #fff;
    }
    .content{
      display: none;
    }
  }
}